[submodule "Dependency"]
path = Dependency
url = ssh://git@github.com/CodeEditorLand/Dependency.git
ignore = all

[submodule "Element"]
path = Element
url = ssh://git@github.com/CodeEditorLand/Element.git
ignore = all

[submodule "Documentation/Rust"]
path = Documentation/Rust
url = ssh://git@github.com/CodeEditorLand/RustDocumentationLand.git
ignore = all
