# [submodule "Elements"]
# path = Elements
# url = ssh://git@github.com/CodeEditorLand/Elements.git

# [submodule "Vanilla"]
# path = Vanilla
# url = ssh://git@github.com/CodeEditorLand/Vanilla.git

# [submodule "Dependency"]
# path = Dependency
# url = ssh://git@github.com/CodeEditorLand/Dependency.git
