/Target/*

!/Target/debug

!/Target/release

/Target/debug/*

/Target/release/*

!/Target/debug/bundle
!/Target/debug/bundle/nsis
!/Target/debug/bundle/msi
!/Target/debug/bundle/nsis/*.exe
!/Target/debug/bundle/msi/*.msi
!/Target/debug/*.exe

!/Target/release/bundle
!/Target/release/bundle/nsis
!/Target/release/bundle/msi
!/Target/release/bundle/nsis/*.exe
!/Target/release/bundle/msi/*.msi
!/Target/release/*.exe
