.cargo/
.clang-format
.csharpierrc
.editorconfig
.env.example
.github/
.gitignore
.gitmodules
.npmrc
.prettierignore
.stylua.toml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Cargo.toml
Dependency/
Element/
Mountain.key
Source/
Target/debug
Target/release
biome.json
docs/
jsconfig.json
pnpm-workspace.yaml
prettier.config.js
rustfmt.toml
tailwind.config.js
turbo.json
