.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnpm-debug.log
.vscode
~*.docx
~*.tmp
Cargo.lock
debug.log
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*

Dependency/Land/Dependency/Gnls/addon/gn
Dependency/Land/Dependency/Gnls/build
Dependency/Land/Dependency/Gnls/compile_commands.json

Dependency/Land/Dependency/LandDocs/*.md

Dependency/Land/Dependency/LandGradle/extension/.vscode-test
Dependency/Land/Dependency/LandGradle/extension/out/
Dependency/Land/Dependency/LandGradle/extension/dist/
Dependency/Land/Dependency/LandGradle/extension/test-fixtures/
Dependency/Land/Dependency/LandGradle/extension/package.json
Dependency/Land/Dependency/LandGradle/extension/lib/
Dependency/Land/Dependency/LandGradle/extension/Source/proto/
Dependency/Land/Dependency/LandGradle/extension/build/

Dependency/Land/Dependency/LandJupyter/Source/platform/pythonEnvironments/*
Dependency/Land/Dependency/LandJupyter/Source/test/pythonEnvironments/*

Dependency/Land/Dependency/LandJupyterLspMiddleware/Source/client/pythonEnvironments/*
Dependency/Land/Dependency/LandJupyterLspMiddleware/Source/test/pythonEnvironments/*

Dependency/Land/Dependency/LandPullRequestGithub/.vscode-test
Dependency/Land/Dependency/LandPullRequestGithub/dist
Dependency/Land/Dependency/LandPullRequestGithub/**/@types/*

Dependency/Land/Dependency/LandPythonInstaller/Source/client/pythonEnvironments/*
Dependency/Land/Dependency/LandPythonInstaller/Source/test/pythonEnvironments/*
Dependency/Land/Dependency/LandPythonInstaller/Source/test/pythonEnvironments/*

Dependency/Land/Dependency/LandWebviewUiToolkit/build/
Dependency/Land/Dependency/LandWebviewUiToolkit/dist/
Dependency/Land/Dependency/LandWebviewUiToolkit/react/
Dependency/Land/Dependency/LandWebviewUiToolkit/test-webview
Dependency/Land/Dependency/LandWebviewUiToolkit/coverage/
Dependency/Land/Dependency/LandWebviewUiToolkit/temp/
Dependency/Land/Dependency/LandWebviewUiToolkit/docs/api-report.md

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/component-gallery/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/editable-data-grid/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/hello-world-webpack/dist
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/notepad/dist
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/out
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/default/weather-webview/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/dist

Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/dist
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/dist
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/.pnp
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-vue.pnp.js
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/coverage
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/build
Dependency/Land/Dependency/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/dist

Dependency/Land/Dependency/MonacoEditor/**/dist/
Dependency/Land/Dependency/MonacoEditor/**/out/
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-parcel/.parcel-cache/
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-parcel/dist/
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-vite-react/dist/**/*.js
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-webpack/dist/*.js
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-webpack-monaco-plugin/dist/*.js
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-webpack-small/dist/*.js
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-webpack-typescript/dist/*.js
Dependency/Land/Dependency/MonacoEditor/samples/browser-esm-webpack-typescript-react/dist/*.js
Dependency/Land/Dependency/MonacoEditor/Source/language/typescript/lib/
Dependency/Land/Dependency/MonacoEditor/test/manual/generated/
Dependency/Land/Dependency/MonacoEditor/website/lib/
Dependency/Land/Dependency/MonacoEditor/website/typedoc/monaco.d.ts
Dependency/Land/Dependency/MonacoEditor/test/smoke/vite/dist
Dependency/Land/Dependency/MonacoEditor/test/smoke/parcel/dist

Documentation
Target
WordPress
docs
test
test_data
vendor

Documentation
Target
WordPress
docs
test
test_data
vendor
