.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnpm-debug.log
.vscode
~*.docx
~*.tmp
Cargo.lock
debug.log
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
